<div class="container">
  <div class="mt-4 row">
    <div>
    <h2 class="mt-4">BDS đã xóa</h2>
    <a href="/me/libs/products">Danh sách BDS</a>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Tên BDS</th>
          <th scope="col">Mô tả</th>
          <th scope="col">Thời gian xóa</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
        <tr>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.desc}}</td>
          <td>{{this.deletedAt}}</td>
          <td>
            <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}">Khôi phục</a>
            <a href="" data-id="{{this._id}}" class="btn btn-link" data-toggle="modal"
              data-target="#delete-product-modal">Xóa vĩnh viễn</a>
          </td>
        </tr>
        {{else}}
        <tr>
          <td colspan="5" class="text-center">
            Danh sách trống !!!
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

{{! Confirm Delete }}
<div id="delete-product-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Lưu ý</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>BDS sẽ không khôi phục được khi xóa vĩnh viễn! Bạn chắc chắn muốn xóa ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-delete" class="btn btn-primary btn-danger" {{!-- onclick="delete()"
          --}}>Xóa vĩnh viễn</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete Form --}}
 <form name="delete-form" method="post" ></form>
 <form name="restore-form" method="post" ></form>
{{! Script }}
<script>

  document.addEventListener('DOMContentLoaded', function () {

    var productID;
    var deleteForm = document.forms['delete-form']
    var restoreForm = document.forms['restore-form']
    var restoreBtn = $('.btn-restore')

    $('#delete-product-modal').on('shown.bs.modal', function (event) {
      var button = $(event.relatedTarget); 
        
        productID = button.data('id');
    })

    var btnDeleteProduct =
      document.getElementById('btn-delete').onclick = function () {
        deleteForm.action = '/products/' + productID + '/force?_method=DELETE'; 
        deleteForm.submit();
      }
      restoreBtn.click(function (event) {
        event.preventDefault();
        var restoreID = $(this).data('id')
        restoreForm.action = '/products/' + restoreID + '/restore?_method=PATCH';
        restoreForm.submit();
      });
  })


</script>